[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
temporal-policies = { editable = true, path = "." }
scod-regression = { editable = true, path = "third_party/scod-regression" }
matplotlib = "*"
pandas = "*"
seaborn = "*"
shapely = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.8"
