[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
temporal-policies = { editable = true, path = "." }
scod-regression = { editable = true, path = "third_party/scod-regression" }
matplotlib = "*"
pandas = "*"
seaborn = "*"
shapely = "*"
functorch = "==0.2.1"
torch = "==1.12.1"
torchvision = "==0.13.1"
torchaudio = "==0.12.1"
tyro = "*"
crfm-helm = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.8"
